/Challenge - David Ribeiro Ferreira.pbix
/Challenge David.zip
/Create Table SQL Script.sql
/DistanceCalculator.py
/File.csv
/File3.csv
/geo.py
/Power BI Report.PNG
/Projects
/pyspark.py
/Python.rar
/SQL Query.sql
/SQL Script Trips.sql
/teste.py
/teste2.py
/testeusername.csv
/trips.csv
/username.csv
/__pycache__